pkgbase = pub
	pkgdesc = Local user repository.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/pub
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	depends = aspe
	depends = fur
	depends = lur
	depends = libcrash-bash
	depends = pacman
	source = pub-af92c7bb2ea19da4bdb9e2808f0d3a9bbf534361.zip::https://github.com/themartiancompany/pub/archive/af92c7bb2ea19da4bdb9e2808f0d3a9bbf534361.zip
	sha256sums = 9c08c43c6034df98725fadbe1dfd7cca41587f5dd2e77ea096c777aee11df57d

pkgname = pub
